@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

:root {
  --blue: #5ce1e6;
}

body {
  padding-top: 53px; /* For navbar at top */
}

.navbar {
  background-color: rgb(29, 29, 29);
}

.navbar-brand {
  font-family: "questrial";
}

.btn {
  background-color: var(--blue);
  color: white;
}

.card {
  background-color: white;
  color: black;
}

.btn:hover {
  background-image: linear-gradient(
    to right,
    #e7484f,
    #e7484f 16.65%,
    #f68b1d 16.65%,
    #f68b1d 33.3%,
    #fced00 33.3%,
    #fced00 49.95%,
    #009e4f 49.95%,
    #009e4f 66.6%,
    #00aac3 66.6%,
    #00aac3 83.25%,
    #732982 83.25%,
    #732982 100%,
    #e7484f 100%
  );
  animation: slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}

.project-link,
.project-link:link {
  color: black;
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-position-y: -0%;
  background-image: linear-gradient(
    white 50%,
    #e7484f 3.8%,
    #e7484f 3.8%,
    #f68b1d 3.8%,
    #f68b1d 3.8%,
    #fced00 3.8%,
    #fced00 3.8%,
    #009e4f 3.8%,
    #009e4f 3.8%,
    #00aac3 3.8%,
    #00aac3 3.8%,
    #732982 3.8%,
    #732982 3.8%,
    #e7484f 3.8%
  );
  background-size: 2px;
  background-size: auto 175%;
  font-weight: bold;
}

.project-link:hover {
  color: white;
  background-image: linear-gradient(
    to right,
    #e7484f,
    #e7484f 16.65%,
    #f68b1d 16.65%,
    #f68b1d 33.3%,
    #fced00 33.3%,
    #fced00 49.95%,
    #009e4f 49.95%,
    #009e4f 66.6%,
    #00aac3 66.6%,
    #00aac3 83.25%,
    #732982 83.25%,
    #732982 100%,
    #e7484f 100%
  );
  animation: slidebg 2s linear infinite;
}

.rainbow-text {
  background-image: linear-gradient(
    to right,
    #e7484f,
    #e7484f 16.65%,
    #f68b1d 16.65%,
    #f68b1d 33.3%,
    #fced00 33.3%,
    #fced00 49.95%,
    #009e4f 49.95%,
    #009e4f 66.6%,
    #00aac3 66.6%,
    #00aac3 83.25%,
    #732982 83.25%,
    #732982 100%,
    #e7484f 100%
  );
  background-clip: text;
}

.rainbow-text:hover {
  color: transparent;
  animation: slidebg 0.5s linear infinite;
}
