/* THIS FILE IS GENERATED. DO NOT ALTER. EDIT THE CONTENTS IN src\site\page.css */
body {
  background-color: black;
  color: white;
  font-family: "questrial";
}

p {
  font-size: 1.2rem;
}

#intro {
  background-color: black;
  color: white;
  font-size: 2rem;
  font-family: "questrial";
}

#intro h1 {
  font-family: "satisfy";
  font-size: 15vw;
}

.pixel-button {
  position: fixed;
  bottom: 60px;
  right: 0px;
}

.pixel-susie {
  position: fixed;
  bottom: 0;
  right: 70px;
}

.pixel-button:hover {
  cursor: pointer;
}

.pixel-susie:hover {
  cursor: pointer;
}

#intro h6 {
  font-size: 2rem;
}

#about-me {
  background-image: url(./assets/images/monterrey.jpg);
  background-size: auto;
  background-position: left center;
}

#about-me p {
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px,
    #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 3px 3px 5px,
    #000 3px 3px 10px;
  -webkit-font-smoothing: antialiased;
}

#my_projects {
  line-height: 1.5;
  background-color: black;
  color: white;
}

.sign {
  font-family: "satisfy";
  color: var(--blue);
  font-size: 2rem;
}

.sign-child {
  font-size: 2.5rem;
}

.projects-title {
  font-family: "satisfy";
  font-size: 3rem;
  padding-bottom: 10px;
}

.site-links {
  font-size: 5rem;
  font-family: "satisfy";
  font-weight: bold;
  color: white;
  text-decoration: underline;
}

.site-links:hover {
  cursor: pointer;
}

#projects .card {
  background-color: white;
  color: black;
}

#hobbies {
  background-image: url(./assets/images/tea.jpg);
  background-size: cover;
  background-position: center top;
}

#hobbies p,
#hobbies ul {
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px,
    #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 3px 3px 5px,
    #000 3px 3px 10px;
  -webkit-font-smoothing: antialiased;
}

#check-out p {
  font-size: 2.5rem;
}

@media only screen and (max-width: 450px) {
  #intro {
    font-size: 1rem;
  }

  #intro h1 {
    font-size: 20vw;
  }

  #intro h6 {
    font-size: 1rem;
  }
}
