/* THIS FILE IS GENERATED. DO NOT ALTER. EDIT THE CONTENTS IN src\site\page.css */
#intro {
  background-color: black;
  color: white;
}

#projects {
  background-color: white;
  color: black;
}

#intro {
  font-size: 2rem;
  font-family: "questrial";
}

#intro h1 {
  font-family: "satisfy";
  font-size: 15vw;
}

#intro h6 {
  font-size: 2rem;
}

@media only screen and (max-width: 450px) {
  #intro {
    font-size: 1rem;
  }

  #intro h1 {
    font-size: 20vw;
  }

  #intro h6 {
    font-size: 1rem;
  }
}
